.header {
  margin: 0 32%;
  font-size: 8rem;
  font-weight: 400;
  text-align: left;
  width: 50%;
}

.headerImg {
  margin: 3% 32%;
}

.menuTitle {
  font-size: 2rem;
  font-weight: 700;
  margin-left: 2%;
}

hr {
  width: 95.8%;
}
